on:
 push:
  brachs:
    - master

  
jobs:
 build:
  runs-on: ubuntu-latest

  steps:
    - name: "testing github action"
      run: ls 


    - uses: actions/checkout@v3  
    - name: "after"
      run: ls
    - name: "login-docker"
      run: docker login --username ${{secrets.DOCKER_USERNAME}}  --password ${{secrets.DOCKER_TOKEN}}
    - name: "build image"
      run: docker build -t  ${{secrets.DOCKER_USERNAME}}/maysa_mohamed2023040369 .
    - name: "push in docker hub"
      run : docker push   ${{secrets.DOCKER_USERNAME}}/maysa_mohamed2023040369
    - name: "make a contanier"
      run:  docker run -d --name cont  ${{secrets.DOCKER_USERNAME}}/maysa_mohamed2023040369
    - name: "pulling image"
      run: docker pull  ${{secrets.DOCKER_USERNAME}}/maysa_mohamed2023040369

