on:
 push:
  brachs:
    - master

  
jobs:
 build:
  runs-on: ubuntu-latest

  steps:
    - name: "testing github action"
      run: ls 


    - uses: actions/checkout@v3  
    - name: "after"
      run: ls
    - name: "login-docker"
      run: docker login --username ${{secret.DOCKER_USERNAME}}  --password ${{secret.DOCKER_TOKEN}}